@model Omega.Presentation.Mvc.Models.Authentication.ForgotPasswordConfirmationViewModel
@{
    ViewBag.Title = Model.Deleted ? "Invalid Forgot Password Request" : "Forgot Password Confirmation";
    ViewBag.BaseModel = Model;
    ViewBag.IsNotSecure = true;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    @if (Model.Deleted)
    {
        <p>
            The account you are trying to access has been deleted.
        </p>
    }
    else
    {
        <p>
            Please check your email to reset your password.
        </p>
    }
</div>

