@model Omega.Presentation.Mvc.Models.Authentication.ResetPasswordConfirmationViewModel
@{
    ViewBag.Title = "Reset password confirmation";
    ViewBag.BaseModel = Model;
    ViewBag.IsNotSecure = true;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
