@model Omega.Presentation.Mvc.Models.OnlineBankingApi.OnlineBankingApiViewModel

<div id="allCredentials">
    @{
        var apiCredentials = Model.Credentials.OrderBy(x => x.Username).ToList();
        foreach (var credentials in apiCredentials)
        {
            <div search-row-sets class="search-list-button" credentials-id="@credentials.Id" credentials-name="@credentials.Username" onclick="CredentialsManager.LoadCredentials(this);">
                <span style="cursor: pointer;" title="Edit Credentials" onclick="CredentialsManager.EditCredentials(this, '@credentials.Id', 'Edit @credentials.Username')"><span class="glyphicon glyphicon-cog text-success"></span>&nbsp;@credentials.Username</span>
            </div>
        }
    }
</div>    
