/* permission-groups styles */

.form-inline.flex {
    box-sizing: border-box;
    display: -webkit-flex; /* Safari */
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

    .form-inline.flex .flex-one-of-two {
        flex: 25;
        font-weight: bold;
    }

    .form-inline.flex .flex-two-of-two {
        flex: 75;
        font-weight: bold;
    }

    .form-inline.flex .flex-one-of-three {
        flex: 25;
    }

    .form-inline.flex .flex-two-of-three {
        flex: 60;
    }

    .form-inline.flex .flex-three-of-three {
        flex: 15;
        text-align: right;
    }

    