# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build output
dist/
lib/
build/
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test output
coverage/
.nyc_output/
junit.xml

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment files
.env
.env.local
.env.*.local
.env.test
.env.production

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Legacy Analyzer specific
#/output/
/legacy_field_data.md
/legacy_file_errors.md
